@font-face {
    font-family: 'Helvetica Neue LT GEO 55 Roman';
    src: url('../fonts/HelveticaNeueLTGEO-55Roman.eot');
    src: url('../fonts/HelveticaNeueLTGEO-55Roman.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTGEO-55Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTGEO-55Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueLTGEO-55Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO 95';
    src: url('../fonts/HelveticaNeueLTGEO-95Black.eot');
    src: url('../fonts/HelveticaNeueLTGEO-95Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTGEO-95Black.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTGEO-95Black.woff') format('woff'),
        url('../fonts/HelveticaNeueLTGEO-95Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO 75 Roman';
    src: url('../fonts/HelveticaNeueLTGEO-75Bold.eot');
    src: url('../fonts/HelveticaNeueLTGEO-75Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTGEO-75Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTGEO-75Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueLTGEO-75Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT GEO 65';
    src: url('../fonts/HelveticaNeueLTGEO-65Medium.eot');
    src: url('../fonts/HelveticaNeueLTGEO-65Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTGEO-65Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTGEO-65Medium.woff') format('woff'),
        url('../fonts/HelveticaNeueLTGEO-65Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root{
    --primary-color:#1B6800;
    --secondary-color:#00CC00;
    --tertiary-color:#D8D8D8;
    --grey-font:#808080;
    --fullhd-padding:140px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
 
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family:"Helvetica Neue LT GEO 55 Roman","sans-serif" ;
 
  }
  


  img{
width: 100%;
height: 100%;
  }
  select,
  input {
    border: none;
  }
  
  input:focus,
  select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  button {
    border: none;
  
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
    /* Changes the number field to behave like a text field */
  }
  
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  
 
  .no-transition {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  
  a:hover {
    cursor: pointer;
  }
  
  body.no-scroll>*:not(.navigation):not(.hamburger) {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transition: -webkit-filter 0.3s ease;
    transition: -webkit-filter 0.3s ease;
    -o-transition: filter 0.3s ease;
    transition: filter 0.3s ease;
    transition: filter 0.3s ease, -webkit-filter 0.3s ease;
  }
  
  .no-scroll {
  
    overflow: hidden;
    /* Prevent scrolling */
    height: 100%;
    /* Ensure the height is full to avoid layout shifts */
  
  }
  

  
  /*
      6. Remove built-in form typography styles
    */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /*
      7. Avoid text overflows
    */
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  .center{
    display: flex;
    align-items: center;justify-content: center;
  }


  .topbar{
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
    background:var(--tertiary-color) ;
    padding-right:var(--fullhd-padding) ;
    gap: 45px;
    align-items: center;
  }
  
  .topbar ul{
    display: flex;
    justify-content: center;
    gap:25px;
    font-size: 12px;
  }
  .topbar ul a{
    color: var(--grey-font);
  }
  .topbar ul a:hover{
    color: black;
  }
  .icon{
    width: 20px;
    height: 20px;
    -webkit-mask-size: contain;
    background-color: #939393;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    cursor: pointer;
  }
  .icon:hover{
    background-color: var(--secondary-color);
  }
  .fb{
    -webkit-mask-image: url('../images/fb.svg');
  mask-image: url('../images/fb.svg');
}
  
  .yt{
    -webkit-mask-image: url("../images/yt.svg");
  mask-image: url('../images/yt.svg');
}
  
  .linked{
    -webkit-mask-image: url("../images/linked.svg");
  mask-image: url('../images/linked.svg');
}
  .phone{
    -webkit-mask-image: url("../images/phone.svg");
  mask-image: url('../images/phone.svg');
}
  .dollar{
    background-color:var(--secondary-color);
    width: 23px;
    height: 23px;

    -webkit-mask-image: url("../images/dollar.svg");
  mask-image: url('../images/dollar.svg');
}
  .location{
    background-color:var(--secondary-color);
    width: 20px;
    height: 25px;

    -webkit-mask-image: url("../images/location.svg");
  mask-image: url('../images/location.svg');
}
  .message{
    background-color:var(--secondary-color);
    -webkit-mask-image: url("../images/chat.svg");
  mask-image: url('../images/chat.svg');
}
.dollar:hover, .location:hover, .message:hover{
    background-color: var(--primary-color);
}

.navigation .top {
    display: flex;
    padding-inline: var(--fullhd-padding);
    width: 100%;
    height: 108px;
    justify-content: space-between;
    align-items: end;

}
.top-right{
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
}
  
.logo{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 11px;
   
 
  
}
.logo img{
    width: 98.98px;
}
.logo .logotext{
    width: 188px;
    height: 43px;
    margin-bottom: 5px;
}
.navigation .top ul,
.navigation .top ul li,
.nav-btns
{
    display: flex;
    align-items: center;
    gap: 8px;
    
}
.navigation .top ul{
    gap: 20px;
    color: var(--grey-font);
}
.navigation .top ul a {
    position: relative;
    padding-left: 8px;
}
.navigation .top ul li:hover a{
    color: black;
    transition: 350ms ease;
}
.navigation .top ul li:hover div{
    background-color: var(--secondary-color);
    transition: 350ms ease;
 
}

.navigation .top ul a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%; 
    width: 1px; 
    height: 75%; 
    transform: translateY(-50%);
    border-radius: 2px;
    background-color: var(--tertiary-color);
}
.btn{
    background-color:var(--secondary-color);
    border-radius: 25px;
    color: white;
    transition: 350ms ease;
    cursor: pointer;
    border: 1px solid var(--secondary-color);

}
.btn:hover{
    color: var(--secondary-color);
    background-color: white;

}
.nav-btns button{
    width: 160px;
    height: 36px;
    color: white;
    font-family: "Helvetica Neue LT GEO";
    font-weight: bold;
    font-size: 14px;
    padding-right: 10px;
}
.navigation .bottom{
    display: flex;
    background: var(--primary-color);
    align-items: center;
    height: 50px;
    padding-inline: var(--fullhd-padding);
  
}
.bottom li{
    position: relative;
    display: flex;
    align-items: center;justify-content: center;
    padding-inline: 38px;
    height: 100%;
    cursor: pointer;
    transition: 350ms ease-out;
    font-size: 14px;
    color: white;
}
.bottom li a{
    display: flex;
    align-items: center;justify-content: center;
    height: 100%;
}

.bottom li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%; 
    width: 1px; 
    height: 30%; 
    transform: translateY(-50%);
    border-radius: 2px;
    background-color: var(--tertiary-color);
}
.bottom li:last-child{
    padding-right: 39px;
}
.bottom li:hover{
    background-color: #00CC00;
}
.bottom li:last-child::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%; 
    width: 1px; 
    height: 30%; 
    transform: translateY(-50%);
    border-radius: 2px;
    background-color: var(--tertiary-color);

}

.hero{
    position: relative;
    width: 100%;
}
#hero-carousel{
    height: 100%;
}
.hero-carousel-item{
    position: relative;
}
.hero-carousel-item header {
    position: absolute;
    bottom: 80px;
    left: var(--fullhd-padding);
    max-width: 560px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.801);
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 40px;
    border-radius: 25px;
    color: var(--primary-color);

}
.hero-carousel-item header  h1{
    font-family: 'Helvetica Neue LT GEO';
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
    opacity: 1;
    z-index: 2;
  
}
.hero-carousel-item header  p{
    color: var(--primary-color);
    
    font-size: 16px;
    margin-top: -5px;
    margin-bottom: 20px;
  
}
.hero-carousel-item aside{
    display: flex;
    position: absolute;
    background-color: white;
    top: 129px;
    font-family:" Helvetica Neue LT GEO";

    right: 0px;
    max-width: 800px;
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    border-top-left-radius: 25px ;
    border-bottom-left-radius: 25px;
    font-size: 40px;
    color: var(--primary-color);

}
.carousel-item-btn{
   
    height: 36px;
    width: 160px;
    margin-bottom: -19px;
}
.hero-carousel-dots{
    position: absolute;
    cursor: pointer;

    left: calc(var(--fullhd-padding) + 40px   ) ;
    bottom: 340px;
    z-index: 2;
}
.hero-dot{
    display: inline-block;
    cursor: pointer;
    background-color: white;
    width: 12px;
    height: 6px;
    border-radius: 5px;
 
    transition: 250ms ease;
}
.active-hero-dot{
    width: 24px;
    background-color: var(--secondary-color);
    
}
.hero-icons {
    position: absolute;
    gap: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    padding: 5px;
    z-index: 1;
    top: 50%;
    left: 0;
  
    height: 149px;
    width: 49px;
    border-radius: 25px;
    border: 1px solid var(--secondary-color);
}
.hero-icons button{
    width: 100%;
}
.divider{
    height: 1px;
}

/* 
offers carousel

*/
.offers{
    position: relative;
    padding-inline: var(--fullhd-padding);
    
}
.offers-header{
    font-family: "Helvetica Neue LT GEO 55 roman";
    font-size: 50px;
   padding-top: 155px;
   padding-bottom: 75px;
   padding-left: 75px;
}
.offers-carousel-item{
    position: relative;
    max-width: 532px;
    width: 100%;
    height: 432px;
    border-radius:50px;
    overflow: hidden;

}
.offers-carousel-item-img{
    position: absolute;
    top: 0;
    left: 0;
    border-radius:50px;
    transition: 1.2s ease;
}
.offers-carousel-item a:hover .offers-carousel-item-img{
    scale: 1.5;
}

.offers-carousel-item a{

    display: block;
    width: 100%;
    height: 100%;
    border-radius:50px;
}
.offers-carousel-item header{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom:0px;
    color: white;
    left: 40px;
    z-index: 2;
    height: 120px;
}
.offers-carousel-item a::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
}
.offers-carousel-item a:hover::before{
    width: 100%;

}
.offers-carousel-item a:hover .goto-arrow{
    width: 40px;
    height: 12px;
margin-left: 350px;
}

.offers-carousel-item header h1{
    font-family: "Helvetica Neue LT GEO 95";
    font-size: 20px;
    
}
.offers-carousel-item header p{
    font-family:'Helvetica Neue LT GEO 65' ;
    display: block;
    font-size: 14px;
   max-width: 285px;
   width: 100%;
   margin-top: 7px;
    
}
.owl-carousel .offers-carousel-item .goto-arrow{
    transition: 750ms ease;
    z-index: 2;
    width: 21px;
    height: 8px;
    margin-top: 7px;
  
}
.offers-carousel-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
.carousel-progress-bar{
position: relative;  
  width: 80%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--tertiary-color);
    transition: 550ms ease;
}
.carousel-progress-bar::before{
    content: '';
    position: absolute;
    border-radius: 2px;
    left: 0;
    top: 0;
    height: 2px;
    width: var(--progress-width, 0%);
    background-color: var(--secondary-color);
    z-index: 1;
    transition: width 0.3s ease;

}
.offers-left,.offers-right{
    width: 50px;
    height: 50px;
    -webkit-mask-size: contain;
    background-color: black;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    cursor: pointer;
}
.offers-left{
    -webkit-mask-image: url('../images/left.svg');
    mask-image: url('../images/left.svg');
    margin-right: -40px;
}
.offers-right{
    -webkit-mask-image: url('../images/right.svg');
    mask-image: url('../images/right.svg');
}
.offers-carousel-nav a{
    color: var(--grey-font);
}
.offers-left:hover, .offers-right:hover{
    background-color: var(--grey-font);
}
.services{
    background-color: var(--primary-color);
    margin-top: 50px;
 
}
#services-carousel{
    height: 500px;
}
.services-carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 500px;
    gap: 20px;
}
.services main{
    position: relative;

    height: 100%;
}
.services-carousel-item .icon{
    width: 132px;
    height: 84px;
    background-color: white;
}
.services-carousel-dots{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    width: 50px;
    z-index: 2;
}
.service-dot{
    width: 28px;
    height: 28px;
    border-radius: 50px;
    background-color: var(--primary-color);
    border: 1px solid var(--tertiary-color);
  z-index: 2;
    cursor: pointer;
}
.active-service-dot{
    background-color: var(--secondary-color);
    border: none;
}
.services-carousel-item a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 364px;
    height: 264px;
    border: 1px solid var(--tertiary-color);
    border-radius: 25px;
    transition: all 350ms ease;
}
.services-carousel-item a:hover{
    border: 1px solid var(--secondary-color);
    transition: all 350ms ease;

}
.services-carousel-item a:hover .icon{
    background-color: var(--secondary-color);
    transition: all 350ms ease;

}
.services-carousel-item a:hover p{
    color: var(--secondary-color);
    transition: all 350ms ease;

}
.services-carousel-item a p{
    
    text-align: center;
    color: white;
    

}
.samomxmareblo{
    -webkit-mask-image: url('../images/creditline.svg');
    mask-image: url('../images/creditline.svg');
}
.ipoteka{
    -webkit-mask-image: url('../images/house.svg');
    mask-image: url('../images/house.svg');
}
.biznesi{
    -webkit-mask-image: url('../images/biznesi.svg');
    mask-image: url('../images/biznesi.svg');
}
.freelance{
    -webkit-mask-image: url('../images/freelancer.svg');
    mask-image: url('../images/freelancer.svg');
}
.car{
    -webkit-mask-image: url('../images/car.svg');
    mask-image: url('../images/car.svg');
}
.gold{
    -webkit-mask-image: url('../images/gold.svg');
    mask-image: url('../images/gold.svg');
}
.microbussines{
    -webkit-mask-image: url('../images/microbussines.svg');
    mask-image: url('../images/microbussines.svg');
}
.moneytransfer{
    -webkit-mask-image: url('../images/moneyTransfer.svg');
    mask-image: url('../images/moneyTransfer.svg');
}



